<div class="container">
  <div class="d-flex justify-content-end">
    <% plus = '<i class="mt-4 fas fa-plus-circle text-danger" style="font-size: 24px"></i>' %>
    <p class="text-danger" style="font-size: 24px">  <%= link_to plus.html_safe, new_roadtrip_path, class: "text-danger", style: "font-size: 24px" %> Ajouter un trip </p>
  </div>
  <div>
    <% @roadtrips.each do |roadtrip| %>
      <div class="card-product">
        <%= cl_image_tag roadtrip.photo.key, crop: :fill, class: "card-img"%>
        <div class="card-product-container">
          <div class="card-product-infos">
          <% if roadtrip.status == "En cours" %>
            <div class="card-product-infos-text">
              <h2> <%= roadtrip.title %> </h2>
              <p><%= roadtrip.status %></p>
            </div>
          <% else  %>
             <div class="card-product-infos-text-terminer">
              <h2> <%= roadtrip.title %> </h2>
              <p><%= roadtrip.status %></p>
            </div>
          <% end %>
            <div class="card-product-infos-avatars">
              <% roadtrip.users.each do |user| %>
                <%= cl_image_tag user.photo.key, class: "avatar-bordered" %>
              <% end %>
            </div>
          </div>
          <div class="card-product-bottom">
            <div class="card-product-bottom-infos">
              <h2 class="m-2"> <i class="fas fa-calendar-alt" id="calendrier-fa"></i> date du trip </h2>
              <h2 class="m-2"> <i class="fas fa-road" id="road-fa"></i> nombre de km </h2>
            </div>
            <div class="card-product-buttons">
              <%= link_to "Supprimer ce trip", roadtrip_path(roadtrip), confirm: 'Are you sure?', method: :delete, class: "button-green" %>
              <%= link_to "Consulter ce trip", roadtrip_path(roadtrip), class: "button-green" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
