<div class="container">
  <div>
    <h1> <%= @roadtrip.title %> </h1>
    <div class="card-product-infos-avatars">
      <% @roadtrip.users.each do |user| %>
        <%= cl_image_tag user.photo.key, class: "avatar-bordered" %>
      <% end %>
    </div>
  </div>
  <div class="show-roadtrip-core">
    <div class="roadtrip-itineraries">
      <div>
        <h2>Itinéraires</h2>
        <p>Ajouter un participant</p>
      </div>
      <div class="card-map">
        <div class="card-map-top">
          <h3><%= @roadtrip.title %></h3>
        </div>
        <div class="card-map-content">
          <img src="https://amtlarochelle.com/wp-content/uploads/2015/03/trajet.jpg" alt="L'itinéraire du jour">
        </div>
        <div class="card-map-bottom">
          <p>Distance</p>
          <p>Jour</p>
          <p>Durée</p>
        </div>
      </div>
    </div>

     <div class="roadtrip-itineraries">
      <div>
        <h2>Itinéraires</h2>
        <p>Ajouter un participant</p>
      </div>
      <div class="card-map">
        <div class="card-map-top">
          <h3><%= @roadtrip.title %></h3>
        </div>
        <div class="card-map-content">
          <img src="https://amtlarochelle.com/wp-content/uploads/2015/03/trajet.jpg" alt="L'itinéraire du jour">
        </div>
        <div class="card-map-bottom">
          <p>Distance</p>
          <p>Jour</p>
          <p>Durée</p>
        </div>
      </div>
    </div>

    <div class="checklist">
      <div class="checklist-box bgw">
        <h2 class="text-center pt-2">Check-list</h2>
        <div>
          <% @roadtrip.tasks.each do |task|  %>
          <p>
            <input type="checkbox">
            <span><%= task.content %></span>
          </p>

          <% end %>
        </div>
        <%= @roadtrip.id %>
        <%= link_to roadtrip_tasks_path(@roadtrip.id), class: "btn" do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>
  </div>

</div>
