<div class="container-show-roadtrip">

  <div class="mt-3 back-roadtrip">
    <i class="fas fa-undo undo-show-map"></i>
    <%= link_to "Retour au Roadbooks", roadtrips_path %>
  </div>

  <div>
    <div class="title-dates">
      <h1 class="m-2"> <%= @roadtrip.title %> </h1>
      <p class="p-dates"> <%= @roadtrip.start_date %> / <%= @roadtrip.end_date %></p>
    </div>

    <div class="show-roadtrip-top mt-2 mb-3">
      <div class="card-map-avatars">
        <% @roadtrip.users.each do |user| %>
          <% if user.photo.present? %>
            <%= cl_image_tag user.photo.key, class: "avatar-bordered avatar-wrap tag-trash-parent" %>
            <%= link_to partner_path(@roadtrip.partners) do %>
              <i class="fas fa-minus tag-trash"></i>
            <% end %>
          <% else %>
            <%= image_tag "default_user_image.png", class: "avatar-bordered avatar-wrap tag-trash-parent" %>
            <%= link_to partner_path(@roadtrip.partners) do %>
              <i class="fas fa-minus tag-trash"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div>
        <% add_partners =  '<i class="mt-1 fas fa-plus-circle text-danger" style="font-size: 24px"></i>' %>
        <p class="text-danger" style="font-size: 24px">  <%= link_to add_partners.html_safe, new_roadtrip_partner_path(@roadtrip), class: "text-danger", style: "font-size: 24px" %> Ajouter un participant </p>
      </div>
    </div>
  </div>

  <div class="show-roadtrip-core">
    <div class="roadtrip-itineraries">
      <div class="roadtrip-itineraries-top-infos">
      </div>
      <div class="card-map-grid">
        <% @roadtrip.itineraries.each do |itinerary| %>
          <%= link_to itinerary_path(itinerary) do %>
            <div class="card-map">
              <div class="card-map-content">
                <div class="card-map-top">
                  <% if itinerary.steps[0] == nil %>
                    <p>Ajouter des étapes</p>
                  <% else %>
                    <% if itinerary.steps.count > 1 %>
                      <p>
                        <%= itinerary.steps[0].address.split.first.delete_suffix(',') %>
                        <i class="fas fa-long-arrow-alt-right ml-2 mr-2" style="font-size:18px;color:#808080;vertical-align:-2px;"></i>
                        <%= itinerary.steps[-1].address.split.first.delete_suffix(',') %>
                      </p>
                    <% else %>
                      <p class="d-flex justify-content-center">
                        <%= itinerary.steps[0].address.split.first.delete_suffix(',') %>
                      </p>
                    <% end %>
                  <% end %>
                </div>
                <% if itinerary.steps[0] == nil %>
                  <img src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.398782,47.081012,2/500x300?access_token=pk.eyJ1IjoibmF0aGFuam9saXZldHdlYiIsImEiOiJja3JxOWJ5bnkya3RsMnVydjRybGJmaW80In0.MVD8QTxtS8nqAIHNQ3X_bg">
                  <% else %>
                  <%longitude = itinerary.steps[0].longitude%>
                  <%latitude = itinerary.steps[0].latitude %>
                  <img src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/<%=longitude%>,<%=latitude%>,9.67,0.00,0.00/1000x600@2x?access_token=pk.eyJ1IjoibmF0aGFuam9saXZldHdlYiIsImEiOiJja3JxOWJ5bnkya3RsMnVydjRybGJmaW80In0.MVD8QTxtS8nqAIHNQ3X_bg" >
                <% end %>
              </div>

              <div class="card-map-bottom">
                <div class="card-map-bottom-left">
                  <p><%= itinerary.distance.to_i %> km</p>
                </div>
                <div><p><i class="fas fa-motorcycle"></i></p></div>
                <div class="card-map-bottom-right">
                  <p><%= itinerary.duration.to_i %> heures</p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <% if @roadtrip.itineraries.size < 5  %>
          <% if @roadtrip.itineraries.size.zero? || (@roadtrip.itineraries.last && @roadtrip.itineraries.last.steps.size >= 2) %>
            <div class="card-map-add">
              <% add_itinerary =  '<i class="fas fa-plus plus-fa"></i>' %>
              <%= link_to add_itinerary.html_safe, roadtrip_itineraries_path(@roadtrip), method: :post %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div>
      <div class="separation">
      </div>
    </div>

    <div class="contain-checklist">
      <div class="checklist-box background-white checkbox-wrap">
        <h2 class="text-center" style="color:#808080;">Liste de tâches</h2>
        <hr />
        <div>
          <% @roadtrip.tasks.each do |task| %>
            <p>
              <input type="checkbox">
              <span style="color: #84A98C;"><%= task.content %></span>
              <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure you want to remove this task ?"} do %>
                <i class="far fa-trash-alt fa-trash-size" style="color:lightgray;"></i>
              <% end %>
            </p>
          <% end %>
        </div>
        <div>
          <%= simple_form_for [ @roadtrip, @task ] do |f| %>
          <div>
            <div class="mt-1 simple-form-input">
              <%= f.input :content, label: false %>
              <%= f.submit "+" ,class: "btn button-green font-weight-bold" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
