<div id="myBtn" class="discover-nav-link nav-link mr-2 text-danger">Messagerie</div>
<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="d-flex modal-roadtrip">

      <div class="col-4 roadtrips-room p-0">
        <div class="roadtrips-chat-title">
          <h3>Roadtrips chat</h3>
        </div>
        <% current_user.roadtrips.each do |roadtrip| %>
          <div class="roadtrip-button d-flex">
            <div>
              <% if roadtrip.messages.last.present? %>
                <%= cl_image_tag roadtrip.messages.last.user.photo.key, class: "avatar" %>
              <% else %>
                <%= image_tag "default_user_image.png", class: "avatar" %>
              <% end %> 
            </div>
            <div class="roadtrip-lastmessage ml-2">
              <p class="roadtrip-title"><%= roadtrip.title %></p>
              <% if roadtrip.messages.last.present? %>
                <p class="last-message"><%= roadtrip.messages.last.content %></p>
              <% else %>
                <p class="last-message">Il n'y a aucun messages.</p>
              <% end %>
            </div>
            <div class="roadtrip-lastmessage-date">
              <% if roadtrip.messages.last.present? %>
                <p><%= roadtrip.messages.last.created_at.strftime('%a %d') %></p>
              <% else %>
                <p><%= roadtrip.created_at.strftime('%a %d') %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      
      <div class="col-8 roadtrip-message">
        <div class="modal-green-top"></div>
        <p class="text-center">Conversation commencé le </p>
      </div>

    </div>
  </div>
</div>
